{% extends "layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set title = i18n.rle_details_title %}

{% block main_content %}

{% call govukFieldset({
  legend: {
    text: i18n.rle_details_field_title,
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: i18n.rle_details_first_name
    },
    classes: "govuk-!-width-two-thirds",
    id: "ro-first-name"
  }) }}

  {{ govukInput({
    label: {
      text: i18n.rle_details_middle_names
    },
    classes: "govuk-!-width-two-thirds",
    id: "ro-middle-names"
  }) }}

  {{ govukInput({
    label: {
      text: i18n.rle_details_last_name
    },
    classes: "govuk-!-width-two-thirds",
    id: "ro-last-name"
  }) }}

{% set dobHintText %}
{{i18n.rle_details_hint1}} <br>
{{i18n.rle_details_hint2}}
{% endset %}

  {{ govukDateInput({
  fieldset: {
    legend: {
      html: i18n.rle_details_dob_label,
      isPageHeading: false
    }
  },
  hint: {
    html: dobHintText
  },
    items: [
    {
      name: "day",
      label: i18n.rle_details_dob_day,
      classes: "govuk-input--width-2",
      autocomplete: "dob-day"
    },
    {
      name: "month",
      label: i18n.rle_details_dob_month,
      classes: "govuk-input--width-2",
      autocomplete: "dob-month"
    },
    {
      name: "year",
      label: i18n.rle_details_dob_year,
      classes: "govuk-input--width-4",
      autocomplete: "dob-year"
    }
  ]
}) }}

{{ govukInput({
    label: {
      text: i18n.rle_details_ch_personal_code
    },
    classes: "govuk-input--width-10 ",
    id: "ch-personal-code"
  }) }}

  {{ govukDetails({
  summaryText: i18n.rle_details_summary_text,
  text: i18n.rle_details_text
}) }}

{{ govukButton({
          attributes: {
            id: "submit",
            "data-event-id": "continue-button"
          },
          text: i18n.rle_details_continue_button
        }) }}

{% endcall %}

{% endblock %}
