{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = i18n.name_mismatch_title%}

{% set nameAndDateBirthText = 
    [pscName," ","(",i18n.name_mismatch_born,monthYearBorn,")"] | join 
%}

{% block main_content %}

    <form action="" method="post">
        {% include "includes/csrf-token.njk" %}
        <span class="govuk-caption-xl">
            {{ nameAndDateBirthText }}
        </span>

        <h1 class="govuk-heading-l">
            {{ i18n.name_mismatch_title }}
        </h1>

        <p class="govuk-body">
            {{ i18n.name_mismatch_details_par1 }}
        </p>

        <p class="govuk-body">
            {{ i18n.name_mismatch_details_par2 }}
            <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" class="govuk-link" rel="noreferrer noopener" target="_blank" data-event-id="update-name-on-register-link">
              {{ i18n.name_mismatch_details_par2_link }}
            </a>
            {{- i18n.name_mismatch_details_par2_after_link }}
        </p>

        {% set radioButtonConfig = {
            idPrefix: "nameMismatch",
            name: "nameMismatch",
            value: nameMismatch,
            fieldset: {
                legend: {
                    text: "",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            id:"nameMismatch",
            items: [
                {
                    value: legalNameChange,
                    text: i18n.name_mismatch_legally_changed,
                    attributes:{
                        "data-event-id": "legally-changed-radio-option"
                    }
                },
                {
                    value: preferredName,
                    text: i18n.name_mismatch_preferred_name,
                    attributes:{
                        "data-event-id": "preferred-name-radio-option"
                    }
                },
                {
                    value: translationOrDifferentConvention,
                    text: i18n.name_mismatch_translation_or_convention,
                    attributes:{
                        "data-event-id": "translation-or-different-naming-convention-radio-option"
                    }
                },
                {
                    value: publicRegisterError,
                    text: i18n.name_mismatch_register_incorrect,
                    attributes:{
                        "data-event-id": "register-incorrect-radio-option"
                    }
                },
                {
                    value: preferNotToSay,
                    text: i18n.name_mismatch_prefer_not_to_say,
                    attributes:{
                        "data-event-id": "prefer-not-to-say-radio-option"
                    }
                }                                
            ]
        } %}

        {% if errors is not undefined and errors is not null and errors | length %}
            {{ govukRadios({
            idPrefix: radioButtonConfig.idPrefix,
            name: radioButtonConfig.name,
            value: radioButtonConfig.value,
            fieldset: radioButtonConfig.fieldset,
            id:radioButtonConfig.id,
            items: radioButtonConfig.items,
                errorMessage: {
                    text: i18n.name_mismatch_error_inline
                }
            }) }}
        {% else %}
            {{ govukRadios(radioButtonConfig) }}
        {% endif %}

        {{ govukButton({
            attributes: {
                id: "submit",
                "data-event-id": CommonDataEventIds.CONTINUE_BUTTON
            },
            text: i18n.global_continue_button
            })
        }}
    </form>

{% endblock %}
