{% if userEmail is not undefined and not hideNavbar %}
    {% set signInHref = chsUrl + "/signin" %}
    {% set userAccountHref = accountUrl + "/user/account?lang=" + lang %}
    {% set signOutHref = chsUrl + "/signout" %}

    {% set menuItems = [
    { id: "your-details", href: userAccountHref , displayText: i18n.global_manage_account_link },
    { id: "user-signout", href: signOutHref, displayText: i18n.global_sign_out_link }
    ] | reject("falsy") %}

    {{ addNavbar(signInHref, menuItems, userEmail, lang) }}
{% endif %}