{% extends "layouts/default.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set title = i18n.individual_statement_title %}

{% block main_content %}

<span class="govuk-caption-xl">
  <div class="govuk-!-padding-bottom-1">[name]</div>
</span>

    {{ govukCheckboxes({
      name: "psc_individual_statement",
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: i18n.individual_statement_value,
          text: i18n.individual_statement_part1 + "[name]" + i18n.individual_statement_part2
        }
      ]
    }) }}

    <input type="hidden" name="lang" value="{{lang}}">
    {{ govukButton({
        id: "confirmContinue",
        text: i18n.global_confirm_continue_button,
        href: Urls.PSC_VERIFIED + "?lang=" +lang
    }) }}

{% endblock %}
