{% extends "layouts/default.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set title = i18n.individual_statement_title %}

{% set nameAndDateBirthText = [
    pscName,
    " ",
    "(",
    i18n.individual_statement_born,
    dateOfBirth,
    ")"
] | join %}

{% set statementText %}
<label>{{ i18n.individual_statement_part1 }}
    <strong>{{ pscName }}</strong>
    {{ i18n.individual_statement_part2 }}</label>
{% endset %}

{% block main_content %}
    <form action="" method="post">
        <span class="govuk-caption-xl">
            <div class="govuk-!-padding-bottom-1" id="nameAndDateOfBirth">{{ nameAndDateBirthText }}</div>
        </span>

        {{ govukCheckboxes({
            name: "pscIndividualStatement",
            values: selectedStatements,
            fieldset: {
                legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                },
            attributes:{
                "data-event-id": "confirmed-identity-verification-checkbox"
             }
        },
        items: [
            {
                value: "",
                html: statementText
            }
        ]
        })
        }}

        {{ govukButton({
            attributes: {
                id: "submit", "data-event-id": "psc-statement-continue-button"
            },
            text: i18n.global_continue_button
            })
        }}
    </form>

{% endblock %}