{% extends "layouts/default.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main_content %}

    {{ govukCheckboxes({
      name: "psc_individual_statement",
      fieldset: {
        legend: {
          text: i18n.individual_statement_title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
        hint: {
    text: "[name]"
  },
      items: [
        {
          value: i18n.individual_statement_value,
          text: i18n.individual_statement_part1 + "[name]" + i18n.individual_statement_part2
        }
      ]
    }) }}  

    {{ govukButton({
        id: "confirmContinue",
        text: i18n.global_save_continue_button,
        href: Urls.PSC_VERIFIED
    }) }}

{% endblock %}
