{% extends "layouts/default.njk" %}

{% block main_content %}
    <h1 class="govuk-heading-l">Provide identity verification details for a person with significant control (PSC)</h1>
    <p class="govuk-body">This service is not yet available</p>

{% endblock %}