{% extends "layouts/default.njk" %}

{% block main_content %}
    <h1 class="govuk-heading-l">Provide identity verification details for a PSC or relevant legal entity</h1>
    <p class="govuk-body">This service is not yet available</p>
    <div></div>
{% endblock %}