{% extends "layouts/default.njk" %}

{% block main_content %}

    <form action="" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="pscIndividualList-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    {{ i18n.individual_psc_list_main_title }}
                </legend>
                <div id="pscIndividualList-hint" class="govuk-hint">
                    {{ i18n.individual_psc_list_hint_1 }}
                    {{companyName}}
                    {{ i18n.individual_psc_list_hint_2 }}
                </div>
                <div class="govuk-radios example-class" data-module="govuk-radios">
                    {% for pscIndividual in pscIndividuals %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{pscIndividual.pscId}}" name="pscId" type="radio" value={{pscIndividual.pscId}} aria-describedby="pscIndividualList-item-hint" data-event-id="selected-PSC-radio-option">
                            <label class="govuk-label govuk-radios__label" for="pscIndividualList">
                                {{ pscIndividual.name }}
                            </label>
                            <div id="pscIndividualList-item-hint" class="govuk-hint govuk-radios__hint">
                                {{ i18n.individual_psc_list_born_in }} {{ pscIndividual.dob.month }} {{ pscIndividual.dob.year }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button" id="submit" data-event-id="psc-list-continue-button">
            {{ i18n.global_continue_button }}
        </button>
    </form>

{% endblock %}
