{% extends "layouts/default.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = i18n.individual_psc_list_main_title %}

{% block main_content %}

    <form action="" method="post">
        <div class="govuk-form-group">
            {{ govukRadios({
                classes: "govuk-radios",
                id: "psc-individual-radios",
                name: "pscSelect",
                fieldset: {
                    legend: {
                        text: i18n.individual_psc_list_main_title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: [i18n.individual_psc_list_hint_1, companyName, i18n.individual_psc_list_hint_2] | join(" ")
                },
                items: pscRadioItems,
                value: selectedPscId
            })
            }}
        </div>
        <button class="govuk-button" data-module="govuk-button" id="submit" data-event-id="psc-list-continue-button">
            {{ i18n.global_continue_button }}
        </button>
    </form>

{% endblock %}
