{% extends "layouts/default.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set title = i18n.ind_psc_list_main_title %}

{% block main_content %}

<h1 class="govuk-heading-l">{{ i18n.ind_psc_list_main_title }}</h1>
<p class="govuk-body">{{ i18n.ind_psc_list_description }}</p>
    
<h2 class="govuk-heading-m">{{ i18n.ind_psc_list_can_verify_heading }}</h2>
<p class="govuk-body">{{ i18n.ind_psc_list_can_verify_description }}<b>{{ companyName }}</b>{{ i18n.ind_psc_list_can_verify_description2 }}</p>
    
{% for psc in canVerifyNowDetails | sort(attribute = 'pscSortName') %}

{% set pscStatusText %}
  {{ govukTag({
      text: psc.pscVerificationStatus,
      classes: "govuk-tag--red"
  }) }}
{% endset %}

    {{ govukSummaryList({
    card: {
        title: {
        text: psc.pscName
    },
    actions: {
        items: [
            {
              href: [nextPageUrl+psc.pscId ],
              text: i18n.ind_psc_list_summary_card_verify_link,
              visuallyHiddenText: i18n.ind_psc_list_summary_card_verify_link,
              attributes: {
                  "data-event-id": "provide-verification-details-link"
              }
            }
        ]
    }
  },
  rows: [
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key1
      },
      value: {
        text: psc.pscDob
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key2
      },
      value: {
        text: psc.pscVerificationDeadlineDate
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key3
      },
      value: {
        html: pscStatusText
      }
    }
  ]
}) }}

{% endfor %}

<h2 class="govuk-heading-m">{{ i18n.ind_psc_list_cannot_verify_heading }}</h2>
<p class="govuk-body">{{ i18n.ind_psc_list_cannot_verify_description }}<b>{{ companyName }}</b>
{{ i18n.ind_psc_list_cannot_verify_description2 }}<b>{{ confirmationStatementDate }}</b>{{ i18n.ind_psc_list_cannot_verify_description3 }}</p>

{{ govukDetails({
    summaryText: i18n.ind_psc_list_cannot_verify_details_main_link,
    text: i18n.ind_psc_list_cannot_verify_details_description,
    attributes: {
        "data-event-id": "why-do-pscs-need-to-wait-dropdown"
    }
}) }}

{% for psc in canVerifyLaterDetails | sort(attribute = 'pscSortName') %}

{% set pscStatusText %}
  {{ govukTag({
      text: psc.pscVerificationStatus,
      classes: "govuk-tag--red"
  }) }}
{% endset %}

{{ govukSummaryList({
    card: {
        title: {
        text: psc.pscName
    }
  },
  rows: [
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key1
      },
      value: {
        html: psc.pscDob
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key2
      },
      value: {
        html: psc.pscVerificationDeadlineDate
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key3
      },
      value: {
        html: pscStatusText
      }
    }
  ]
}) }}

{% endfor %}

<h2 class="govuk-heading-m">{{ i18n.ind_psc_list_already_verified_details_description }}</h2>

{% for psc in verifiedPscDetails | sort(attribute = 'pscSortName') %}

{% set pscStatusText %}
  {{ govukTag({
      text: psc.pscVerificationStatus,
      classes: "govuk-tag--green"
  }) }}
{% endset %}

{{ govukSummaryList({
    card: {
        title: {
        text: psc.pscName
    }
  },
  rows: [
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key1
      },
      value: {
        html: psc.pscDob
      }
    },
    {
      key: {
        html: '<span class="govuk-tag--purple">Verification details provided on</span>'
      },
      value: {
        html: '<span class="govuk-tag--purple">This is the APPT_VERIFICATION_EFF_DATE</br>We do not currently have this supplied from CHIPS</span>'
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key3
      },
      value: {
        html: pscStatusText
      }
    }
  ]
}) }}

{% endfor %}

{% set pscNotFoundDetails %}
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description }}</p>
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description2 }}</p>
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description3 }} 
        <a href="mailto:{{ dsrEmailAddress }}" data-event-id="dsr-email-address-mailto">{{ dsrEmailAddress }}</a>
            {{ i18n.ind_psc_list_not_found_details_description4 }}{{ dsrPhoneNumber }}
            {{ i18n.ind_psc_list_not_found_details_description5 }}</p>
{% endset %}

{{ govukDetails({
    summaryText: i18n.ind_psc_list_not_found_details_main_link,
    html: pscNotFoundDetails,
    attributes: {
        "data-event-id": "cant-find-psc-dropdown"
    }
}) }}

{% endblock %}
