{% extends "layouts/default.njk" %}
{% set gridColumnClass = 'three-quarters' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set title = i18n.ind_psc_list_main_title %}

{% block main_content %}

<h1 class="govuk-heading-l">{{ i18n.ind_psc_list_main_title }}</h1>
<p class="govuk-body">{{ i18n.ind_psc_list_description_1 }}</p>
<p class="govuk-body">{{ i18n.ind_psc_list_description_2 }}</p>

{% set whySomePscsHaveDifferentDatesDetails %}
  <p class="govuk-body">{{ i18n.ind_psc_list_why_diff_dates_description_1 }}</p>
  <h2 class="govuk-heading-s">{{ i18n.ind_psc_list_why_diff_dates_description_2 }} {{ idvImplementationDate }}</h2>
  <p class="govuk-body">{{ i18n.ind_psc_list_why_diff_dates_description_3 }} {{ idvImplementationDate }}.</p>
  <p class="govuk-body">{{ i18n.ind_psc_list_why_diff_dates_description_4 }}</p>
  <h2 class="govuk-heading-s">{{ i18n.ind_psc_list_why_diff_dates_description_5 }} {{ idvImplementationDate }}</h2>
  <p class="govuk-body">{{ i18n.ind_psc_list_why_diff_dates_description_6 }}</p>
{% endset %}

{{ govukDetails({
    summaryText: i18n.ind_psc_list_why_diff_dates_dropdown_text,
    html: whySomePscsHaveDifferentDatesDetails,
    attributes: {
        "data-event-id": "why-some-pscs-have-different-dates-dropdown"
    }
}) }}
    
{% if canVerifyNowDetails and canVerifyNowDetails.length > 0 %}
  <h2 class="govuk-heading-m">{{ i18n.ind_psc_list_can_verify_heading }}</h2>
  <p class="govuk-body">{{ i18n.ind_psc_list_can_verify_description_1 }}<b>{{ companyName }}</b>{{ i18n.ind_psc_list_can_verify_description_2 }}</p>

  {% for psc in canVerifyNowDetails | sort(attribute = 'pscSortName') %}
    {% set pscStatusText %}
      {{ govukTag({
          text: i18n.ind_psc_list_summary_card_status_unverified,
          classes: "govuk-tag--red"
      }) }}
    {% endset %}
        {{ govukSummaryList({
        card: {
            title: {
            text: psc.pscName
        },
        actions: {
            items: [
                {
                  href: [nextPageUrl+psc.pscId ],
                  text: i18n.ind_psc_list_summary_card_verify_link,
                  visuallyHiddenText: i18n.ind_psc_list_summary_card_verify_link + i18n.ind_psc_list_summary_card_verify_link_for + psc.pscName,
                  attributes: {
                      "data-event-id": "provide-verification-details-link"
                  }
                },
                {
                  href: psc.requestExtensionUrl,
                  text: i18n.ind_psc_list_summary_card_extension_link,
                  visuallyHiddenText: i18n.ind_psc_list_summary_card_extension_link + i18n.ind_psc_list_summary_card_verify_link_for + psc.pscName,
                  attributes: {
                      "data-event-id": "request-extension-link"
                  }
                }
            ]
        }
      },
      rows: [
        {
          key: {
            text: i18n.ind_psc_list_summary_card_key1
          },
          value: {
            text: psc.pscDob
          }
        },
        {
          key: {
            text: i18n.ind_psc_list_summary_card_key2
          },
          value: {
            text: psc.pscVerificationStartDate
          }
        },
        {
          key: {
            text: i18n.ind_psc_list_summary_card_key3
          },
          value: {
            text: psc.pscVerificationDeadlineDate
          }
        },
        {
          key: {
            text: i18n.ind_psc_list_summary_card_key4
          },
          value: {
            html: pscStatusText
          }
        }
      ]
    }) }}

  {% endfor %}
{% endif %}

{% if verifiedPscDetails and verifiedPscDetails.length > 0 %}
  <h2 class="govuk-heading-m">{{ i18n.ind_psc_list_already_verified_details_description }}</h2>

  {% for psc in verifiedPscDetails | sort(attribute = 'pscSortName') %}

  {% set pscStatusText %}
    {{ govukTag({
        text: i18n.ind_psc_list_summary_card_status_verified,
        classes: "govuk-tag--green"
    }) }}
  {% endset %}

  {{ govukSummaryList({
      card: {
          title: {
          text: psc.pscName
      }
    },
    rows: [
      {
        key: {
          text: i18n.ind_psc_list_summary_card_key1
        },
        value: {
          html: psc.pscDob
        }
      },
      {
        key: {
          text: i18n.ind_psc_list_summary_card_key4
        },
        value: {
          html: pscStatusText
        }
      }
    ]
  }) }}

  {% endfor %}
{% endif %}

<h2 class="govuk-heading-m">{{ i18n.ind_psc_list_cannot_verify_heading }}</h2>
<p class="govuk-body">{{ i18n.ind_psc_list_cannot_verify_description_1 }}<b>{{ companyName }}</b>
{{ i18n.ind_psc_list_cannot_verify_description_2 }}</p>

{% for psc in canVerifyLaterDetails | sort(attribute = 'pscSortName') %}

{% set pscStatusText %}
  {{ govukTag({
      text: i18n.ind_psc_list_summary_card_status_unverified,
      classes: "govuk-tag--red"
  }) }}
{% endset %}

{{ govukSummaryList({
    card: {
        title: {
        text: psc.pscName
    }
  },
  rows: [
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key1
      },
      value: {
        text: psc.pscDob
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key2
      },
      value: {
        text: psc.pscVerificationStartDate
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key3
      },
      value: {
        text: psc.pscVerificationDeadlineDate
      }
    },
    {
      key: {
        text: i18n.ind_psc_list_summary_card_key4
      },
      value: {
        html: pscStatusText
      }
    }
  ]
}) }}

{% endfor %}

{% set pscNotFoundDetails %}
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description_1 }}</p>
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description_2 }}</p>
        <p class="govuk-body">{{ i18n.ind_psc_list_not_found_details_description_3 }}
        <a href="mailto:{{ dsrEmailAddress }}" data-event-id="dsr-email-address-mailto">{{ dsrEmailAddress }}</a>
            {{ i18n.ind_psc_list_not_found_details_description_4 }}{{ dsrPhoneNumber }}{{ i18n.ind_psc_list_not_found_details_description_5 }}
        </p>
{% endset %}

{{ govukDetails({
    summaryText: i18n.ind_psc_list_not_found_details_main_link,
    html: pscNotFoundDetails,
    attributes: {
        "data-event-id": "cant-find-psc-dropdown"
    }
}) }}

{% endblock %}
