{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% set title = i18n.rle_psc_list_main_title %}

{% block main_content %}

{{ govukFieldset({
  legend: {
    text: i18n.rle_psc_list_main_title,
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) }}

<p class="govuk-hint">{{i18n.rle_psc_list_statement}}</p>
       

{{ govukRadios({
  name: "whichRleAreYouProvidingDetailsFor",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "example1",
      text: "[company]"
    },
    {
      value: "example2",
      text: "[company]"
    }
  ]
}) }}

{{ govukButton({
          attributes: {
            id: "submit",
            "data-event-id": "continue-button"
          },
          text: i18n.rle_psc_list_continue_button
        }) }}


{% endblock %}