{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = i18n.psc_verified_main_title %}
{% set panel %}
<div>
  {{ i18n.psc_verified_reference_number_statement }}
</div>
<strong>
<div id="psc-verified-reference-number">
    {{ referenceNumber }}
</div>
</strong>
{% endset %}
{% block main_content %}

      {{ govukPanel({
        titleText: i18n.psc_verified_main_title,
        html: panel
      }) }}

      {{ govukSummaryList({
  rows: [
    {
      key: {
        id: "psc-verified-company-number",
        text: i18n.psc_verified_company_number
      },
      value: {
        text: companyNumber
      }
    },
    {
      key: {
        id: "psc-verified-company-name",
        text: i18n.psc_verified_company_name
      },
      value: {
        text: companyName
      }
    },
    {
      key: {
        id: "psc-verified-psc-name",
        text: i18n.psc_verified_psc_name
      },
      value: {
        text: pscName
      }
    }
  ]
}) }}
  <p class="govuk-body">{{i18n.psc_verified_confirmation_email_text}} <strong>{{userEmail}}</strong>.</p>

  <p class="govuk-body">{{i18n.psc_verified_process_submission_text}}</p>

  <h1 class="govuk-heading-m">{{i18n.psc_verified_next_heading}}</h1>

  <p class="govuk-body">{{i18n.psc_verified_next_body}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <p class="govuk-body">
        <a href="{{ pscListUrl }}" class="govuk-link" data-event-id="same-company-verification-link">{{ i18n.psc_verified_verification_details_link }} {{ companyName }}</a>
      </p>
    </li>
    <li>
      <p class="govuk-body">
        <a href="{{ companyLookupUrl }}" class="govuk-link" data-event-id="another-company-verification-link">{{ i18n.psc_verified_another_company_verification_link }}</a>
      </p>
    </li>
  </ul>

  <h2 class="govuk-heading-m">{{i18n.confirmation_feedback_title}}</h2>
  <p class="govuk-body">{{i18n.confirmation_feedback_info}}<a href="https://www.smartsurvey.co.uk/s/provide-idv-for-psc-legal-ent-conf/" data-event-id="feedback-link" class="govuk-link" target="_blank">{{i18n.confirmation_feedback_link}}</a></p>
{% endblock %}
