{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = i18n.confirm_company_main_title %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.confirm_company_main_title }}</h1>
    <form action="" method="post">
        {% include "includes/csrf-token.njk" %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                id: "confirm-company-name",
                text: i18n.confirm_company_company_name
              },
              value: {
                text: company.companyName
              }
            },
            {
              key: {
                id: "confirm-company-number",
                classes: "govuk-!-width-full",
                text: i18n.confirm_company_company_number
              },
              value: {
                text: company.companyNumber
              }
            },
            {
              key: {
                id: "confirm-company-status",
                text: i18n.confirm_company_company_status
              },
              value: {
                text: company.companyStatus
              }
            },
            {
              key: {
                id: "confirm-company-incorporation-date",
                text: i18n.confirm_company_incorporation_date
              },
              value: {
                text: company.dateOfCreation
              }
            },
            {
              key: {
                id: "confirm-company-type",
                text: i18n.confirm_company_company_type
              },
              value: {
                text: company.type
              }
            },
            {
              key: {
                id: "confirm-company-registered-office-address",
                text: i18n.confirm_company_registered_office_address
              },
              value: {
                html: address

              }
            }
          ]
        }) }}

        <input type="hidden" name="lang" value="{{lang}}">
        <input type="hidden" name="companyNumber" value="{{company.companyNumber}}">
        {{ govukButton({
          text: i18n.global_confirm_continue_button,
          id: "submit",
          attributes: {
            "data-event-id": CommonDataEventIds.CONTINUE_BUTTON
          }
        }) }}
    </form>
    <p class="govuk-body">
        <a id="select-different-company" title="{{i18n.confirm_company_choose_different_company }}" class="govuk-link" href={{ Urls.COMPANY_NUMBER + "?lang=" +lang }} data-event-id="choose-a-different-company-link">{{ i18n.confirm_company_choose_different_company }}</a>
    </p>
</div>
{% endblock %}
