{% from "govuk/components/footer/macro.njk" import govukFooter %}

{%- set licenceHtml -%}
<p class="govuk-footer__licence-description">{{ i18n.global_footer_licence_p1 }}
    <a class="govuk-footer__link" target="_blank" rel="noopener noreferrer"
  href="{{ i18n.global_footer_ogl_v3_url }}">{{ i18n.global_footer_ogl_v3 }}</a>
    {{ i18n.global_footer_licence_p2 }}
</p>
{% endset %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
        text: i18n.global_footer_policies,
        attributes: { "data-event-id": "policy-footer-link" }
      },
      {
        href: "/help/cookies",
        text: i18n.global_footer_cookies,
        attributes: { "data-event-id": "cookies-footer-link" }
      },
      {
        href: "https://www.gov.uk/government/organisations/companies-house#org-contacts",
        text: i18n.global_footer_contact_us,
        attributes: { "data-event-id": "contact-footer-link" }
      },
            {
        href: "/accessibility-statement",
        text: i18n.global_footer_accessibility_statement,
        attributes: { "data-event-id": "accessibility-footer-link" }
      }
    ]
  },
  contentLicence: {
    html: licenceHtml
  },
  copyright: {
     text: i18n.global_footer_crown_copyright
}
}) }}

<script src="/js/app.min.js"></script>
<script src="{{cdnHost}}/javascripts/app/piwik-enable.js"></script>
<script type="application/javascript">
    window.SERVICE_NAME = '{{PIWIK_SERVICE_NAME}}'
    window.PIWIK_URL = '{{ PIWIK_URL }}'
    window.PIWIK_SITE_ID = '{{ PIWIK_SITE_ID }}'
</script>
<div id="templateName" data-id='{{templateName}}' hidden></div>
<script src="{{cdnHost}}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{cdnHost}}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script>
<script src="{{ cdnHost }}/javascripts/lib/navbar.js"></script>
<script src="{{ cdnHost }}/javascripts/app/session-timeout.js"></script>
<!--<script src="/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>-->