{% from "govuk/components/footer/macro.njk" import govukFooter %}


{% set builtByCompaniesHouse %}
  <p>{{i18n.global_footer_built_by}}<a class="govuk-footer__link" href="{{i18n.global_footer_ch_home_url}}">{{i18n.global_footer_companies_house}}</a>
  </p>
{% endset %}


{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
        text: i18n.global_footer_policies,
        attributes: { "data-event-id": "policy-footer-link" }
      },
      {
        href: "/help/cookies",
        text: i18n.global_footer_cookies,
        attributes: { "data-event-id": "cookies-footer-link" }
      },
      {
        href: "https://www.gov.uk/government/organisations/companies-house#org-contacts",
        text: i18n.global_footer_contact_us,
        attributes: { "data-event-id": "contact-footer-link" }
      },
            {
        href: i18n.global_footer_accessibility_url,
        text: i18n.global_footer_accessibility_statement,
        attributes: { "data-event-id": "accessibility-footer-link" }
      }
    ],
    html: builtByCompaniesHouse
  },

  contentLicence: null,
  copyright: {
     text: i18n.global_footer_crown_copyright
}
}) }}