{% from "govuk/components/footer/macro.njk" import govukFooter %}

{%- set licenceHtml -%}
<p class="govuk-footer__licence-description">{{ i18n.global_footer_licence_p1 }}
    <a class="govuk-footer__link" target="_blank" rel="noopener noreferrer"
  href="{{ i18n.global_footer_ogl_v3_url }}">{{ i18n.global_footer_ogl_v3 }}</a>
    {{ i18n.global_footer_licence_p2 }}
</p>
{% endset %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
        text: i18n.global_footer_policies
      },
      {
        href: "/help/cookies",
        text: i18n.global_footer_cookies
      },
      {
        href: "https://www.gov.uk/government/organisations/companies-house#org-contacts",
        text: i18n.global_footer_contact_us
      },
            {
        href: accessibilityStatementLink,
        text: i18n.global_footer_accessibility_statement
      }
    ]
  },
  contentLicence: {
    html: licenceHtml
  },
  copyright: {
     text: i18n.global_footer_crown_copyright
}
}) }}