{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  homepageUrl: chsUrl
}) }}

{% if templateName != "/start" %}
  {{ govukServiceNavigation({
    serviceName: i18n.start_main_title
  }) }}
{% endif %}
