<head>
    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="{{ cdnHost }}/stylesheets/services/psc-verification-web/application.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="{{ cdnHost }}/stylesheets/extensions/languages-nav.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="{{ cdnHost }}/stylesheets/session-timeout.css" rel="stylesheet" crossorigin="anonymous"/>
    <script nonce={{ nonce | dump | safe }}>
        var page = page || {};
    </script>
</head>