<head>
    <link href="{{ cdnUrlCss }}/app.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>
    <link href="{{ cdnHost }}/stylesheets/services/presenter-account/application.css" rel="stylesheet"/>
    <link href="{{ cdnHost }}/stylesheets/extensions/languages-nav.css" rel="stylesheet"/>
    <script>
        var page = page || {};
    </script>
</head>