
<div class="govuk-header__logo">
  <a href="https://www.gov.uk/" class="govuk-header__link govuk-header__link--homepage">
    <span class="govuk-header__logotype chs-ad-logo-type">
      <img  src="{{ cdnHost }}/images/govuk-logotype-crown.svg" alt="" style="filter: invert(100%);" >
      <span class="govuk-header__logotype-text">Companies House</span>
    </span>
  </a>
</div>
<div class="govuk-header__content">
  {# <a href="#" class="govuk-header__link govuk-header__link--service-name">Node.js web starter</a> #}
  <a href="/persons-with-significant-control-verification" class="govuk-header__link govuk-header__link--service-name" data-event-id="service-name-banner-link">
     {{ i18n.start_main_title }}
   </a>
</div>