<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      {{ i18n.global_banner_new_service }}
      <a class="govuk-link" data-event-id="phase-banner-feedback-link" href="https://www.smartsurvey.co.uk/s/provide-idv-for-psc-legal-ent-fdbk/">{{ i18n.global_banner_feedback_link }}</a>
      {{ i18n.global_banner_help_improve }}
    </span>
  </p>
</div>