{% extends "layouts/default.njk" %}

{% set title = i18n.dob_mismatch_main_title %}

{% block main_content %}

    <h1 class="govuk-heading-l">{{ i18n.dob_mismatch_main_title }}</h1>
    <p class="govuk-body">{{ i18n.dob_mismatch_reasons }}</p>

    <h3 class="govuk-heading-s">{{ i18n.dob_mismatch_check_personal_code }}</h3>
    <p class="govuk-body">
        {{ i18n.dob_mismatch_character_code }}
        <a id="reenter-personal-code" href="{{ backURL }}" title="{{ i18n.dob_mismatch_try_again_link }}" class="govuk-link" data-event-id="{{ CommonDataEventIds.GO_BACK_AND_RETRY_LINK }}">
            {{ i18n.dob_mismatch_try_again_link_text -}}
        </a>.
    </p>

    <h3 class="govuk-heading-s">{{ i18n.dob_mismatch_check_dob }}</h3>
    <p class="govuk-body">
        {{ i18n.dob_mismatch_if_wrong }}
        <a id="submit-paper-correction" href="{{ extraData[0] }}" title="{{ i18n.dob_mismatch_try_again_link }}" class="govuk-link" data-event-id="paper-correction-link">
            {{ i18n.dob_mismatch_corrections_link_text -}}
        </a>.
    </p>
    <p class="govuk-body">{{ i18n.dob_mismatch_up_to_date }}</p>

    <h3 class="govuk-heading-s">{{ i18n.dob_mismatch_authorised_agent }}</h3>
    <p class="govuk-body">{{ i18n.dob_mismatch_verified_identity }}</p>

{% endblock %}
