
{% extends "layouts/default.njk" %}

{% set title = i18n.404_main_title %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ i18n.404_check_typed_address }}</p>
    <p class="govuk-body">{{ i18n.404_check_pasted_address }}</p>
    <p class="govuk-body">
        <a href="{{ extraData[0] }}">{{ i18n.404_arrived_via_bad_url_1 }}</a> {{ i18n.404_arrived_via_bad_url_2 }}
    </p>
{% endblock %}
