{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = i18n.rle_director_title %}

{% block main_content %}

<span class="govuk-caption-xl">
    [first] [middle] [last] ({{i18n.rle_director_caption}} [Month] [Year])
  </span>
      
{{ govukRadios({
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: i18n.rle_director_title + "[SELECTED COMPANY]?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: i18n.rle_director_hint
  },
  items: [
    {
      value: "yes",
      text: i18n.rle_director_yes
    },
    {
      value: "no",
      text: i18n.rle_director_no
    }
  ]
}) }}

{{ govukButton({
          attributes: {
            id: "submit",
            "data-event-id": "continue-button"
          },
          text: i18n.rle_director_continue_button
        }) }}

{% endblock %}