{% extends "layouts/default.njk" %}

{% set title = i18n.rp01_guidance_main_title %}

{% block main_content %}

    <h1 class="govuk-heading-l">{{ i18n.rp01_guidance_main_title }}</h1>
    <p class="govuk-body">{{ i18n.rp01_guidance_intro }}</p>

    <ol class="govuk-list govuk-list--number">
        <li>{{ i18n.rp01_guidance_step_1 }}
            <a id="get-rp01-form" href="{{ linkUrls[0] }}" title="{{ i18n.rp01_guidance_step_1_link_text }}" class="govuk-link" data-event-id="rp01-guidance-step-1-link">
                {{ i18n.rp01_guidance_step_1_link_text -}}
            </a>.
    </li>
        <li>{{ i18n.rp01_guidance_step_2 }}
            <a id="get-psc01-form" href="{{ linkUrls[1] }}" title="{{ i18n.rp01_guidance_step_2_link_text }}" class="govuk-link" data-event-id="rp01-guidance-step-2-link">
                {{ i18n.rp01_guidance_step_2_link_text -}}
            </a>.
    </li>
        <li>{{ i18n.rp01_guidance_step_3 }}
            <a id="post-to-ch" href="{{ linkUrls[2] }}" title="{{ i18n.rp01_guidance_step_3_link_text }}" class="govuk-link" data-event-id="rp01-guidance-step-3-link">
                {{ i18n.rp01_guidance_step_3_link_text -}}
            </a>.
        </li>
    </ol>
    <p class="govuk-body">
        {{ i18n.rp01_guidance_summary }}
        <a id="verify-psc-service" href="{{ linkUrls[3] }}" title="{{ i18n.rp01_guidance_summary_link_text }}" class="govuk-link" data-event-id="rp01-guidance-summary-link">
            {{ i18n.rp01_guidance_summary_link_text -}}
        </a>.
    </p>

{% endblock %}