{% extends "layouts/default.njk" %}

{% set title = i18n.not_a_director_title %}

{% block main_content %}

<h1 class="govuk-heading-l">{{i18n.not_a_director_title}}</h1>

<p class="govuk-body">{{i18n.not_a_director_body}}</p>

{% endblock %}