{% extends "layouts/default.njk" %}
{% from "web-security-node/components/csrf-error/macro.njk" import csrfError %}

{% set title = "Forbidden" %}

{% block main_content %}
  {% if csrfErrors %}
    {{
      csrfError({})
    }}
  {% endif %}

{% endblock %}