{% extends "layouts/default.njk" %}
{% from "web-security-node/components/csrf-error/macro.njk" import csrfErrorContent %}

{% set title = "Forbidden" %}

{% block main_content %}
  {% if csrfErrors %}
    {{
      csrfErrorContent({})
    }}
  {% endif %}
{% endblock %}