{% extends "layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = i18n.personal_code_title %}

{% set nameAndDateBirthText = [
    pscName,
    " (",
    i18n.personal_code_born,
    monthBorn,
    ")"
] | join %}

{% block main_content %}
    <form action="" method="post">
        <span class="govuk-caption-xl">
            {{ nameAndDateBirthText }}
        </span>
        <h1 class="govuk-heading-l" id="personal-code--title">
            {{title}}
        </h1>
        <div class="govuk-form-group">
            {{ govukInput({
                    id: "personalCode",
                    classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
                    name: "personalCode",
                    value: ""
                })
            }}

            {{ govukDetails({
                    summaryText: i18n.personal_code_details_summaryText,
                    text: i18n.personal_code_details_text,
                    classes: "govuk-!-padding-top-6",
                    attributes:{
                        "data-event-id": "where-to-find-code-dropdown"
                    }
                })
            }}

            {{ govukButton({
                    attributes: {
                        id: "submit", "data-event-id": "personal-code-continue-button"
                    },
                    text: i18n.global_continue_button
                })
            }}
        </div>
    </form>

{% endblock %}