{% extends "layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = i18n.personal_code_title %}
{% set userAccountHref = accountUrl + "/user/account?lang=" + lang %}

{% set nameAndDateBirthText = [
    pscName,
    " (",
    i18n.personal_code_born,
    monthYearBorn,
    ")"
] | join %}

{% set whereToFindPersonalCodeDetails %}
    <p class="govuk-body">{{ i18n.personal_code_details_body_11_character_code }}</p>
    <p class="govuk-body">
        {{ i18n.personal_code_details_body_find_your_code }}
        <a href="{{ userAccountHref }}">{{ i18n.personal_code_details_body_companies_house }}</a>.
        {{ i18n.personal_code_details_body_be_signed_in }}
    </p>
    <p class="govuk-body">{{ i18n.personal_code_details_body_verified_by_agent }}</p>
{% endset %}

{% block main_content %}
    <span class="govuk-caption-xl govuk-!-text-break-word">
        {{ nameAndDateBirthText }}
    </span>
    {% set heading %}
        <h1 class="govuk-heading-l" id="personal-code--title">
            {{ title }}
        </h1>
    {% endset %}
    <form action="" method="post">
        {% include "includes/csrf-token.njk" %}

        <div class="govuk-form-group">
            {% set inputOptions = {
                id: "personalCode",
                label: {
                    html: heading
                },
                classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
                name: "personalCode",
                value: personalCode
            } %}

            {% if errors is not undefined and errors is not null and errors | length %}
                {% set inputOptions = {
                    id: inputOptions.id,
                    label: inputOptions.label,
                    classes: inputOptions.classes,
                    name: inputOptions.name,
                    value: inputOptions.value,
                    errorMessage: {
                        text: i18n.personal_code_error_inline
                    }
                } %}
            {% endif %}

            {{ govukInput(inputOptions) }}
            {{ govukInput({
                    id: "selectedPscId",
                    type:"hidden",
                    name: "selectedPscId",
                    value: selectedPscId
                })
            }}

            {{ govukInput({
                    id: "selectedPscId",
                    type:"hidden",
                    name: "selectedPscId",
                    value: selectedPscId
                })
            }}

            {{ govukDetails({
                    summaryText: i18n.personal_code_details_summaryText,
                    html: whereToFindPersonalCodeDetails,
                    classes: "govuk-!-padding-top-6",
                    attributes:{
                        "data-event-id": "where-to-find-code-dropdown"
                    }
                })
            }}

            {{ govukButton({
                    attributes: {
                        id: "submit", "data-event-id": CommonDataEventIds.CONTINUE_BUTTON
                    },
                    text: i18n.personal_code_button
                })
            }}
        </div>
    </form>

    <script src="{{cdnHost}}/javascripts/app/uvid-live-formatter.js"></script>
    <script nonce={{ nonce | dump | safe }}>
      window.UVID_INPUT_ID = 'personalCode';
    </script>

{% endblock %}
