{% extends "layouts/default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = i18n.personal_code_title %}

{% set nameAndDateBirthText = [
    pscName,
    " (",
    i18n.personal_code_born,
    monthYearBorn,
    ")"
] | join %}

{% block main_content %}
    <form action="" method="post">
        {% include "includes/csrf-token.njk" %}
        <span class="govuk-caption-xl">
            {{ nameAndDateBirthText }}
        </span>
        <h1 class="govuk-heading-l" id="personal-code--title">
            {{ i18n.personal_code_title }}
        </h1>
        
        <div class="govuk-form-group">
            {% set inputOptions = {
                id: "personalCode",
                classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
                name: "personalCode",
                value: personalCode
            } %}

            {% if errors is not undefined and errors is not null and errors | length %}
                {% set inputOptions = {
                    id: inputOptions.id,
                    classes: inputOptions.classes,
                    name: inputOptions.name,
                    value: inputOptions.value,
                    errorMessage: {
                        text: i18n.personal_code_error_inline
                    }
                } %}
            {% endif %}

            {{ govukInput(inputOptions) }}
            {{ govukInput({
                    id: "selectedPscId",
                    type:"hidden",
                    name: "selectedPscId",
                    value: selectedPscId
                })
            }}

            {{ govukInput({
                    id: "selectedPscId",
                    type:"hidden",
                    name: "selectedPscId",
                    value: selectedPscId
                })
            }}

            {{ govukDetails({
                    summaryText: i18n.personal_code_details_summaryText,
                    text: i18n.personal_code_details_text,
                    classes: "govuk-!-padding-top-6",
                    attributes:{
                        "data-event-id": "where-to-find-code-dropdown"
                    }
                })
            }}
            
            {{ govukButton({
                    attributes: {
                        id: "submit", "data-event-id": CommonDataEventIds.CONTINUE_BUTTON
                    },
                    text: i18n.personal_code_button
                })
            }}
        </div>
    </form>

    <script src="{{cdnHost}}/javascripts/app/uvid-live-formatter.js"></script>
    <script>
      window.UVID_INPUT_ID = 'personalCode';
    </script>

{% endblock %}
