<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[(if gt IE 8) | (!IE)]><!--><html lang="en" class="govuk-template"><!--<![endif]-->
{% import "add-lang-to-url.njk" as lang2url %}
{% from "csrf-token-input/macro.njk" import csrfTokenInput %}
{% include "partials/__meta_header.njk" %}
{% from "navbar.njk" import addNavbar %}

  <body class="govuk-template__body" >

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% include "partials/cookie_consent_banner.njk" %}

    <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>

    {% include "partials/__header.njk" %}

    <div class="govuk-width-container ">
      {% if isSignedIn %}
        {% set signInHref = chsUrl + "/signin" %}
        {% set userAccountHref = accountUrl + "/user/account" %}
        {% set signOutHref = chsUrl + "/signout" %}

        {% set menuItems = [
          { id: "your-details", href: userAccountHref , displayText: i18n.global_manage_account },
          { id: "user-signout", href: signOutHref, displayText: i18n.global_sign_out_link }
        ] | reject("falsy") %}

        {{ addNavbar(signInHref, menuItems, userEmail, lang) }}
      {% endif %}

      {% if backURL %}
        <a href="{{ backURL }}" class="govuk-back-link" data-event-id="back-link">{{ i18n.global_back_link }}</a>
      {% endif %}

      {% include "locales-banner.njk" %}
      <main class="govuk-main-wrapper " id="main-content">

        <div class="govuk-grid-row">

          {% include "partials/error-summary.njk" %}

          <div class="govuk-grid-column-{{ gridColumnClass | default('two-thirds') }}" id="main-page-content">
            {% block main_content %}
            {% endblock %}
          </div>
        </div>

      </main>
    </div>

    {% include "partials/__footer.njk" %}

  </body>
</html>
